#cart-wrapper {
  min-height: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f6f3;
  padding-top: 2rem;
}
.cart-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  min-width: 40vw;
  background-color: white;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

.cart-image-aspect-size {
  width: 15rem;
  object-fit: cover;
  object-position: top;
  height: 15rem;
}
