footer {
    background-color: rgb(9, 25, 36);
    color: rgba(255, 255, 255, 0.66);
    padding-bottom: 5rem;
  }
  
  #footer-grid-wrapper {
    display: grid;
    /* grid-template-areas:
          "one"
          "two"
          "three"
          "four"
          "five"; */
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    justify-content: center;
    align-content: center;
    column-gap: 5rem;
    line-height: 2rem;
  }
  
  #footer-grid-wrapper h3{
    color: rgb(255, 255, 255);
  }
  
  #span-2-div {
    grid-row: 1 / span 2;
    text-align: left;
  }
  
  #logo-image-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
  }
  
  #footer-logo-image{
    height: 5rem;
  }

  @media (max-width: 600px) {
    #footer-grid-wrapper {
      grid-template-columns: 1fr;
    }
  }