html{
  font-family: 'Lato', sans-serif;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  margin-bottom: 2px;
  margin: 0;
}

#opening-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 0;
  background-color: #f8f6f3;
}

#opening-image {
  height: 32rem;
}

#opening-text-wrapper {
  width: 32rem;
  margin-left: 3rem;
}
#information-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  justify-items: center;
  background-color: black;
  gap: 30px;
  padding: 3rem 5rem;
  justify-content: center;
}

.information-class {
  border: 2px solid black;
  background-color: #f7c8e0;
  width: 20rem;
  height: 5.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 5rem;
}

h2 {
  text-align: center;
}

#random-list-item-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#random-list-item-wrapper img {
  width: 300px;
  height: 300px;
}
.random-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* If this shit breaks change the name to HomeLayout.css */
